@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'Neue-Pixel-Sans';
  src:url('fonts/Neue-Pixel-Sans.ttf.woff') format('woff'),
  url('fonts/Neue-Pixel-Sans.ttf.svg#CC-Red-Alert-INET') format('svg'),
  url('fonts/Neue-Pixel-Sans.ttf.eot'),
  url('fonts/Neue-Pixel-Sans.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/**
This file contains the general and shared style of your application.
 */
body {
  background-color: #000000;
  font-family: "Neue-Pixel-Sans", sans-serif;

  background-size: auto auto, cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  align-content: center;

  ;


}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: 24px;
  outline: none;
  cursor: url("MafiaDoor.png"), pointer;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.error-message {
  background-color: #ff7272;
  color: white;
  padding: 1em;
}

.backgroundLogin{
  background-image: url("MafiaDoor.png");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}
.backgroundLoginGif{
  background-image: url("MafiaDoor.gif");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}
.backgroundLoginGif2{
  background-image: url("MafiaDoor.gif");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}

.buttonImage{
  background-image: url("PixleHandy.png");
  background-size:  200px 365px, contain ;
  background-repeat: no-repeat;
}

.backgroundLogin{
  background-image: url("MafiaDoor.png");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}

.backgroundMain{
  background-image: url("main_background.png");
  background-size: 1200px 800px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.handyImage{
  background-image: url("BigHandy.png");
  background-size:  400px 730px, contain ;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  margin-left: calc(50% - 200px);
  margin-top: 30px;
}

.handWithCard{
  background-image:url("handCard.png");
  background-size: 600px 700px, contain;
  background-repeat: no-repeat;
  margin:auto;
}


