@import url("https://fonts.googleapis.com/css?family=Montserrat");

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #212121;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
