@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family: 'Neue-Pixel-Sans';
  src:url('fonts/Neue-Pixel-Sans.ttf.woff') format('woff'),
  url('fonts/Neue-Pixel-Sans.ttf.svg#CC-Red-Alert-INET') format('svg'),
  url('fonts/Neue-Pixel-Sans.ttf.eot'),
  url('fonts/Neue-Pixel-Sans.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/**
This file contains the general and shared style of your application.
 */
body {
  background-color: #000000;
  font-family: "Neue-Pixel-Sans", sans-serif;

  background-size: auto auto, cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  align-content: center;


}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: 24px;
  outline: none;
  cursor: url("MafiaDoor.png"), pointer;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.error-message {
  background-color: #ff7272;
  color: white;
  padding: 1em;
}

.backgroundLogin{
  background-image: url("MafiaDoor.png");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}
.backgroundLoginGif{
  background-image: url("MafiaDoor.gif");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}
.backgroundLoginGif2{
  background-image: url("MafiaDoor.gif");
  background-size: 800px 800px, contain;
  background-repeat: no-repeat;
  margin-left: calc(50% - 400px);
  margin-top: 30px;
}

.buttonImage{
  background-image: url("phone_small.png");
  background-size:  200px 365px, contain ;
  background-repeat: no-repeat;
  background-color: transparent;
}


.backgroundMain{
  background-image: url("main_background.png");
  background-size: 1200px 800px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.handyImage{
  background-image: url("phone.png");
  background-size:  400px 730px, contain ;
  background-repeat: no-repeat;
  margin-left: calc(50% - 200px);
  margin-top: 5px;
}

.handyImageSmall{
  background-image: url("phone.png");
  background-size:  contain ;
  background-repeat: no-repeat;
  margin-left: calc(50% - 200px);
  margin-top: calc(10% - 75px);
  width: 100%;
  height: 100%;
}

.handWithCard{
  background-image:url("handCard.png");
  background-size: 600px 700px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.smallHandWithCard{
  background-image:url("handCard.png");
  background-size: 450px 525px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.blankNewsPaper{
  background-image:url("BlankNewsPaper.png");
  background-size: 848px 620px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.backArrow{
  background-image:url("BackArrow.png");
  background-size: 40px 27px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.phoneProfile{
  background-image:url("phone_landscape.png");
  background-size: 1150px 600px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.lobbyCreation{
  background-image:url("table_with_whiskey.png");
  background-size: 1200px 860px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.paperLobby{
  background-image: url("paper_joinLobby.png");
  background-size: 900px 900px, contain;
  background-repeat: no-repeat;
  margin:auto;
}

.phoneCall{
  background-image: url("PhoneCall.png");
  background-size: 20px 25px, contain;
  background-repeat: no-repeat;
  margin: auto;
}

.lobbyBackground{
  background-image: url("table.png");
  background-size: 100% 100%, contain;
  background-repeat: no-repeat;
  margin: auto
}

.table{
  background-image: url("OnlyTable.png");
  background-size: 100% 100%, contain;
  background-repeat: no-repeat;
  margin: auto
}

.profilePicture{
  background-size: 150px 150px;
}

.backgroundMain .phoneProfile .profileContainer .profilePicContainer img{
  position: relative;
  left: 5px;
  top: 5px;
  height: 140px;
  width: 140px;
}

.scoreboard{
  background-image: url("scoreboard.png");
  background-size: 1000px 625px, contain;
  background-repeat: no-repeat;
  margin: auto;
}

.guess-sign-left{
  background-image: url("guess-sign-left.png");
  background-size: 150px 80px, contain;
  background-repeat: no-repeat;
  margin: auto;
}

.lobbyInvitePhone{
  background-image: url("phone_small.png");
  background-size: 200px 346px, contain;
  background-repeat: no-repeat;
}

.Arcade{
  background-image: url("Arcade.png");
  background-size: 1200px 800px, contain, contain;
  background-repeat: no-repeat;
}

@keyframes blinkingAnimation {
  0% {outline: 2px solid #ffff00;
    color: #ffff00;}
  50% {outline :2px solid #32CD32;
    color: #32CD32}
  100% {outline: 2px solid #ffff00;
    color: #ffff00}
}